<?xml version="1.0"?>
<config>
    <sections>
        <giftd_cards translate="label" module="giftd_cards">
            <label>Giftd Cards</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>991</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api_settings translate="label">
                    <label>Giftd API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                            Access for API (<a id="SIGN_IN" href="https://partner.giftd.ru/site/login?popup=1" onclick="SignIn(this);return false;">Get API access settings</a>)
                            <script type="text/javascript">
                                var popup = null;
                                function openWindow(options) {
                                    var
                                        screenX = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft,
                                        screenY = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop,
                                        outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth,
                                        outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22),
                                        width = options.width,
                                        height = options.height,
                                        left = parseInt(screenX + ((outerWidth - width) / 2), 10),
                                        top = parseInt(screenY + ((outerHeight - height) / 2.5), 10),
                                        features = (
                                            'width=' + width +
                                                ',height=' + height +
                                                ',left=' + left +
                                                ',top=' + top
                                            );
                                    popup = window.open(options.url, 'giftd_auth_' + new Date().getTime(), features);
                                }

                                function update_api_key(user_id, api_key)
                                {
                                    giftd_cards_api_settings_api_key.value = api_key;
                                    giftd_cards_api_settings_user_id.value = user_id;
                                    configForm.submit();
                                }

                                function SignIn(a){
                                    openWindow({
                                        width: 520,
                                        height: 453,
                                        url: a.href
                                    });

                                    AwaitResponse();
                                }

                                function AwaitResponse() {
                                    if (window.addEventListener) {  // all browsers except IE before version 9
                                        window.addEventListener ("message", OnMessage, false);
                                    }
                                    else {
                                        if (window.attachEvent) {   // IE before version 9
                                            window.attachEvent("onmessage", OnMessage);
                                        }
                                    }
                                }

                                function OnMessage (message) {
                                    var rawMessage = message.data || message.originalEvent.data;
                                    console.log(rawMessage);
                                    if (typeof(rawMessage) == 'string' && rawMessage.indexOf("giftd/auth") === 0) {
                                        var message = JSON.parse(rawMessage.split("~", 2)[1]);
                                        console.log(message);
                                        switch (message.type) {
                                            case 'error':
                                                alert(message.data);
                                                break;
                                            case 'data':
                                                update_api_key(message.data.user_id, message.data.api_key);
                                                break;
                                            default:
                                                break;
                                        }
                                        popup.close();
                                    }
                                }
                            </script>
                        ]]>
                    </comment>
                    <fields>
                        <api_key translate="label comment">
                            <label>API Key</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <user_id translate="label comment">
                            <label>User ID</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user_id>
                        <partner_token translate="label comment">
                            <label>Partner Token</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </partner_token>
                        <partner_token_prefix translate="label comment">
                            <label>Partner Token Prefix</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </partner_token_prefix>
                        <sent_on_install translate="label comment">
                            <label>Has installed</label>
                            <comment><![CDATA[
                                    <script>
                                        row_giftd_cards_api_settings_sent_on_install.style.display = "none";
                                    </script>
                            ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sent_on_install>
                    </fields>
                </api_settings>
            </groups>
        </giftd_cards>
    </sections>
</config>
